<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="src/main/css/stylesheet.css">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Temp Styles for Angular Design Material-->
    <style>
    </style>
</head>
<body ng-app="EventMap" layout="column" ng-controller="MainCtrl" ng-init="init()">
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>EventMap</h2>
    </div>
</md-toolbar>
<md-content flex>
    <md-button ng-show="arrowLeft" ng-click="toggleSidebar('left')" class="toggleBtnOut">
        <i  class="fa fa-chevron-left"></i>
    </md-button>
    <md-button ng-show="!arrowLeft" ng-click="toggleSidebar('left')" class="toggleBtnIn">
        <i class="fa fa-chevron-right"></i>
    </md-button>
    <div id="container" layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-disable-backdrop="true" md-is-open="true" md-component-id="left">
            <md-list ng-show="!eventSelected">
                <md-list-item class="md-2-line eventDetails-background" ng-repeat="event in events">
                    <div class="image" ng-click="populateEvent(event.id)">
                        <img ng-src="{{event.imgSrc}}">
                        <div class="event">
                            <h4>{{ event.name }}</h4>
                            @: {{ event.location }}<br/>
                            Cost: ${{ event.cost }}
                        </div>
                    </div>
                </md-list-item>
            </md-list>
            <md-list ng-show="eventSelected" class="eventDetails-background">
                <md-list-item class="md-2-line">
                    <img ng-src="{{eventDetails.imgSrc}}" class="eventDetails-image">
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div>
                        <h4>{{ eventDetails.name }}</h4>
                        <p>Location: {{ eventDetails.location }}</p>
                        <p>{{ eventDetails.description }}</p><br/>
                        <strong>Cost: ${{ eventDetails.cost }}</strong><br/>
                        <md-button ng-click="backToDetails()" class="md-primary">Back</md-button>

                    </div>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <g-map map-points-promise="mapPointsPromise"
               on-point-click-function="populateEvent">
        </g-map>
    </div>
</md-content>

<!-- 3rd Party JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.16.3/lodash.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-aria/angular-aria.js"></script>
<script src="node_modules/angular-material/angular-material.js"></script>

<!-- Internal Libs -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3tcMME2J9R2AoM9nmyjm5AdYAkAJaGrQ"></script>
<script src="src/main/ng/modules/EventMapModule.js"></script>
<script src="src/main/ng/modules/LodashFactory.js"></script>
<script src="src/main/ng/modules/DataService.js"></script>
<script src="src/main/ng/modules/MapDirective.js"></script>
<script src="src/main/ng/modules/main.js"></script>
</body>
</html>