html, body, div.container-fluid {
    height: 100%;
    margin: 0;
}

.eventDetails-background {
    color: #3F3F40;
    padding: 0 !important;
    width: 100%
}

.image {
    position: relative;
    height: 200px;
    overflow: hidden;
    margin-bottom: 2px;
}

.eventDetails-image {
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 2px;
}

.event {
    position: absolute;
    top: 128px;
    left: 0;
    width: 100%;
    color: white;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 2px 10px 10px;
}

h4 {
    margin-bottom: 0;
    margin-top: 2px;
}

p {
    margin-bottom: 0;
}

/* Map CSS */
#map {
    height: 100%;
    width: 100%;
}

.toggleBtnOut {
    z-index: 1;
    left: 307px;
    position: absolute !important;
}

.toggleBtnIn {
    z-index: 1;
    left: 100px;
    position: absolute !important;
}